.article-component{
    font-family: 'Noto Sans SC', sans-serif;
    margin: 5px !important;
    width: 50%;
    height: auto;
    display: inline-flex;
    justify-content: center;
    background-image: url("https://i.dlpng.com/static/png/6990824_preview.png");
}

.author{
    text-align: left;
    margin: 0;
    font-size: 0.1em;
}

.title{
    font-size: 1.5em !important;
}

.content{
    font-size: 0.8em;
}

.description{
    font-size: 0.8em !important;
}

